.scss{
    width: 400px;
    height: 200px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: brown;
    border-radius: 6px;
}