@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

.head{
    width: 90%;
    margin: 30px auto;
    text-align: center;
    color: burlywood;
}

.foot{
    width: 90%;
    margin: 30px auto;
    text-align: center;
    color: cadetblue;
}